body {
  color: white;
  background-color: darkblue;
}
.resultado {
  color: yellow;
  background-color: darkred;
}

.left-align {
  text-align: left;
}
 
.titulo {
  text-align: center;
}

hr {
  margin-top: 20px;
}

.contenido {
  font-size: 2em;
}